.App {
  background: #fff url('https://kanye2049.com/img/bg.png') 0 0 repeat;
  height: 100vh;
  font-family: "Microsoft MS Sans Serif"; 
  
  // NAVBAR 
  header {
    input {
      color: blue;
    }
  }

  .landing-page {
    margin-top: 45px;

  }
}
